[Desktop Entry]
Type=Application
Name=Pictures
Name[de]=Bilder
Name[es]=Imágenes
Name[fr]=Images
Name[hi]=तस्वीरें
Name[pl]=Zdjęcia
Name[pt_BR]=Imagens
Name[ru]=Изображения
Name[zh_CN]=图片
GenericName=Photo Viewer
GenericName[de]=Fotobetrachter
GenericName[es]=Visor de fotos
GenericName[fr]=Visionneuse de photos
GenericName[hi]=फ़ोटो व्यूअर
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt_BR]=Visualizador de fotos
GenericName[ru]=Просмотр фотографий
GenericName[zh_CN]=照片查看器
Comment=Look through your pictures with a controller
Comment[de]=Sehen Sie Ihre Bilder mit einem Controller durch
Comment[es]=Mire sus fotos con un mando
Comment[fr]=Parcourez vos photos à la manette
Comment[hi]=कंट्रोलर से अपनी तस्वीरें देखें
Comment[pl]=Przeglądaj zdjęcia za pomocą kontrolera
Comment[pt_BR]=Veja as suas fotos com um controle
Comment[ru]=Просматривайте свои фотографии с контроллера
Comment[zh_CN]=用手柄浏览您的照片
Exec=imagonsole %f
Icon=imagonsole
Terminal=false
Categories=Graphics;Viewer;Photography;
MimeType=image/png;image/jpeg;image/gif;image/webp;image/bmp;image/tiff;image/x-icon;image/x-portable-anymap;image/x-targa;image/vnd-ms.dds;image/vnd.radiance;image/x-exr;
Keywords=photo;photos;picture;pictures;image;images;viewer;gallery;slideshow;lxb;
Keywords[de]=Foto;Fotos;Bild;Bilder;Betrachter;Galerie;Diaschau;lxb;
Keywords[es]=foto;fotos;imagen;imágenes;visor;galería;diapositivas;lxb;
Keywords[fr]=photo;photos;image;images;visionneuse;galerie;diaporama;lxb;
Keywords[hi]=फ़ोटो;तस्वीर;तस्वीरें;छवि;छवियाँ;व्यूअर;गैलरी;स्लाइड शो;lxb;
Keywords[pl]=zdjęcia;fotografie;obrazy;galeria;pokaz slajdów;lxb;
Keywords[pt_BR]=foto;fotos;imagem;imagens;visualizador;galeria;apresentação;lxb;
Keywords[ru]=фото;фотографии;изображение;изображения;просмотр;галерея;слайд-шоу;lxb;
Keywords[zh_CN]=照片;图片;图像;查看器;相册;幻灯片;lxb;
StartupNotify=true
StartupWMClass=imagonsole
X-GNOME-SingleWindow=true
